/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* Header */
header{
    width: 100vw;
    height: 18vh;
    color:#E4EEF1;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-between;
    padding: 50px 140px 50px 200px;
    .logo{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    h1{
    font-size: 2.8rem;
}
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
li{
    width: 16vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 900;
}
}
a:link{
    color:#E4EEF1;
    text-decoration: none;
}
a:visited{
    color:#E4EEF1;
    text-decoration: none;
}
/* Main */
/* Hero Section */
.hero{
    width: 100vw;
    height: 50vh;
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .hero-title{
    width: 38%;
    font-size: 2.5rem;
    font-weight: 400;
}
    .heroImg{
    width: 20%;
}
}
/* Section 2 */
.section2{
    width: 100vw;
    height: 40vh;
background-color: #FF69B4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px;
    .section2-title{
    width: 44%;
    font-size: 2.5rem;
    font-weight: 400;
}
    .section2Img{
    width: 30%;
}
}
/* Section 3 - Info */
.info{
    width: 100vw;
    height: 50vh;background-color: #FFD9EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px;
    .info-img{
        width: 15vw;
    }
}
/* Footer */
footer{
    width: 100vw;
    height: 20vh;background-color: #FF69B4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .icon{
    width: 80%;
}
}
.info-footer{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    .symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
.icon-rosa{
    width: 6vw;
}

/* Responsivo */
@media screen and (min-width:300px)and (max-width:500px) {
/* Header */
header{
    height: 20vh;
    padding: 0 20px;
    .logo{
    width: 100vw;
    justify-content: space-around;
}
    .img-logo{
    width: 15vw;
}
    h1{
    padding: 20px;
    font-size: 1.5rem;
}
}
nav{

    ul{
    display: none;
}
}
/* Main */
/* Hero Section */
.hero{
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
    .hero-title{
    width: 85%;
    font-size: 1.2rem;
    text-align: justify;
}
    .heroImg{
    width: 30%;
}
}
/* Section 2 */
.section2{
    height: 50vh;
    flex-direction: column;
    padding: 0;
    .section2-title{
    width: 85%;
    font-size: 1.2rem;
    text-align: justify;
}
    .section2Img{
    width: 35%;
}
}
/* Section 3 - Info */
.info{
    height: 30vh;
    padding: 0;
    .info-img{
        width: 20vw;
    }
}
/* Footer */
footer{
    height: 70vh;
    padding: 0;
    .footer{
    width: 70vw;
    height: 80vh;
    flex-direction: column-reverse;
}
    .icons{
    width: 40%;
}
    .icon{
    width: 70%;
}
}
.info-footer{
    width: 70%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2rem;
}
.icon-rosa{
    width: 10vw;
}
}